Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

resolve comments
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

Revert "#814 Implement Landing Section (#853)"
  services/web/public/landingSection/blob-blue.png
  services/web/public/landingSection/blob-cyan.png
  services/web/public/landingSection/circuit.png
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
  services/web/src/website/MainPage/Navigation/DesktopNav.tsx
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

Revert "#814 Implement Landing Section (#853)" (#856)
  services/web/public/landingSection/blob-blue.png
  services/web/public/landingSection/blob-cyan.png
  services/web/public/landingSection/circuit.png
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
  services/web/src/website/MainPage/Navigation/DesktopNav.tsx
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

#814 Implement Landing Section (#857)
  services/web/public/landingSection/blob-blue.png
  services/web/public/landingSection/blob-cyan.png
  services/web/public/landingSection/circuit.png
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
  services/web/src/website/MainPage/Navigation/DesktopNav.tsx
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

#835 unit tests
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Fixing very last things
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/server/exception.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
Due: none

Fixing very last things (again...)
  services/py-api/src/service/mail_service/resend_service.py
Due: none

#744 Added mail service for resend (#772)
  services/py-api/.env.sample
  services/py-api/poetry.lock
  services/py-api/pyproject.toml
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/service/mail_service/__init__.py
  services/py-api/src/service/mail_service/email_templates/__init__.py
  services/py-api/src/service/mail_service/email_templates/email-participant.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/mail_service/utils.py
Due: prettier --write

Secure the staging env using HTTP
  .github/workflows/pipeline.yml
  docker-swarm-stack.yml
  services/web/nginx.dev.conf
Due: none

Fix host issues
  .github/workflows/pipeline.yml
Due: none

Fix the mounted volume not to interfere with nginx.conf files
  docker-swarm-stack.yml
  services/web/nginx.dev.conf
Due: none

Bring the pipeline to the previous state
  .github/workflows/pipeline.yml
Due: none

Make white sections rounded
  services/web/index.html
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
Due: prettier --write, eslint --fix

Fix the blobs location so that they are in sync between sections
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
Due: prettier --write, eslint --fix

update react email library
  services/react-email-starter/emails/email-participant.tsx
  services/react-email-starter/emails/email-verify-participant.tsx
  services/react-email-starter/emails/notion-magic-link.tsx
  services/react-email-starter/emails/plaid-verify-identity.tsx
  services/react-email-starter/emails/static/notion-logo.png
  services/react-email-starter/emails/static/plaid-logo.png
  services/react-email-starter/emails/static/plaid.png
  services/react-email-starter/emails/static/stripe-logo.png
  services/react-email-starter/emails/static/vercel-arrow.png
  services/react-email-starter/emails/static/vercel-logo.png
  services/react-email-starter/emails/static/vercel-team.png
  services/react-email-starter/emails/static/vercel-user.png
  services/react-email-starter/emails/stripe-welcome.tsx
  services/react-email-starter/emails/vercel-invite-user.tsx
  services/react-email-starter/out/email-participant.html
  services/react-email-starter/out/email-verify-participant.html
  services/react-email-starter/package-lock.json
  services/react-email-starter/package.json
Due: prettier --write, eslint --fix

Make white sections rounded (#863)
  services/web/index.html
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
Due: prettier --write, eslint --fix

update react email library (#865)
  services/react-email-starter/emails/email-participant.tsx
  services/react-email-starter/emails/email-verify-participant.tsx
  services/react-email-starter/emails/notion-magic-link.tsx
  services/react-email-starter/emails/plaid-verify-identity.tsx
  services/react-email-starter/emails/static/notion-logo.png
  services/react-email-starter/emails/static/plaid-logo.png
  services/react-email-starter/emails/static/plaid.png
  services/react-email-starter/emails/static/stripe-logo.png
  services/react-email-starter/emails/static/vercel-arrow.png
  services/react-email-starter/emails/static/vercel-logo.png
  services/react-email-starter/emails/static/vercel-team.png
  services/react-email-starter/emails/static/vercel-user.png
  services/react-email-starter/emails/stripe-welcome.tsx
  services/react-email-starter/emails/vercel-invite-user.tsx
  services/react-email-starter/out/email-participant.html
  services/react-email-starter/out/email-verify-participant.html
  services/react-email-starter/package-lock.json
  services/react-email-starter/package.json
Due: prettier --write, eslint --fix

Secure the staging env using HTTP (#858)
  docker-swarm-stack.yml
  services/web/nginx.dev.conf
Due: none

Add feature switch pydantic model, repository, service, handler and a dependency function
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/schemas/feature_switch_schemas/__init__.py
  services/py-api/src/server/schemas/feature_switch_schemas/feature_switch_schema.py
  services/py-api/src/service/feature_switch_service.py
Due: none

fixed controls display (#852)
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/css/embla-team.css
  services/web/src/website/MainPage/MeetTheTeamSection/components/MeetTheTeam.tsx
Due: prettier --write, eslint --fix

Give an example of how sending emails could be handled
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
Due: none

Add sending of verification emails
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/mail_service/utils.py
  services/py-api/src/service/participants_registration_service.py
Due: none

Fix unit tests
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_participant_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
Due: none

Patch resend api key for unit tests
  services/py-api/tests/unit_tests/test_handlers/test_participant_handlers.py
Due: none

Add the resend api key for int tests
  services/py-api/tests/integration_tests/test_participant_routes.py
  services/py-api/tests/integration_tests/test_team_routes.py
  services/py-api/tests/integration_tests/test_verification_routes.py
Due: none

Change the FS repo to inherit from CRUDRepository and change function calls in the new functions to be async
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/service/feature_switch_service.py
Due: none

#835 email resend service ac tually resending emails
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Switch the sending of emails as a responsibility of the hackathon service
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/tests/unit_tests/conftest.py
Due: none

desktop done mobile image problem
  services/web/public/n.png
  services/web/public/schedule_bg.png
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

WIP
  services/web/src/website/MainPage/AboutSection/components/PastEventSection.tsx
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
  services/web/src/website/MainPage/Navigation/DesktopNav.tsx
Due: prettier --write, eslint --fix

Send verification email in the bg, generate jwt
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_registration_service.py
Due: none

Rework how the FeatureSwitchRepository class is initialized
  services/py-api/src/database/repository/feature_switch_repository.py
Due: none

Fixes 874: Make circuit effect smaller, make it disappear when leaving the section and tweak the margines
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

#872 open mail client
  services/web/src/website/MainPage/Footer/Footer.tsx
Due: prettier --write, eslint --fix

fix img issue
  services/web/src/website/MainPage/MainPage.tsx
Due: prettier --write, eslint --fix

Fix the tests
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_participant_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
Due: none

fixed issue with border on x
  services/web/src/components/ui/sheet.tsx
Due: prettier --write, eslint --fix

#872 open mail client (#885)
  services/web/src/website/MainPage/Footer/Footer.tsx
Due: prettier --write, eslint --fix

Adding versions of the fonts globally for the frontend
  services/web/fonts.css
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Italic.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Outline.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-OutlineItalic.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Regular.ttf
  services/web/src/index.css
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/tailwind.config.js
Due: prettier --write, eslint --fix

Fix the tests try 2
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_participant_routes.py
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
