Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

871: Add favicon and title
  services/web/index.html
Due: prettier --write

fix footer and desktop links
  services/web/src/website/MainPage/AboutSection/components/IdentitySection.tsx
  services/web/src/website/MainPage/Footer/Footer.tsx
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

Finish implementing functionality for a feature switch closing participant registration
  services/py-api/src/database/db_manager.py
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/hackathon_service.py
Due: none

finish up whole section
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

fixed issue with border on x (#886)
  services/web/src/components/ui/sheet.tsx
Due: prettier --write, eslint --fix

fix border and cyan blob
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

Adding versions of the fonts globally for the frontend (#887)
  services/web/fonts.css
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Italic.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Outline.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-OutlineItalic.ttf
  services/web/public/fonts/GalaxyFont/SFDistantGalaxy-Regular.ttf
  services/web/src/index.css
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/tailwind.config.js
Due: prettier --write, eslint --fix

idk
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

fix return
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

Adding recap section
  services/web/index.html
  services/web/public/orbits-recap-background.png
  services/web/public/yellow-n-icon.svg
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
  services/web/styles.css
Due: prettier --write, eslint --fix

remove idx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

879 Implement Schedule Section (#890)
  services/web/public/n.png
  services/web/public/schedule_bg.png
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

Add sending emails upon verification
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

Fix the tests
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Fix 871: Change favicon implementation
  services/web/index.html
Due: prettier --write

Fixes 874: Make circuit effect smaller, make it disappear when leaving the section and tweak the margines (#884)
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

rework logic
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

fix border and cyan blob (#891)
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

#875 navigation for hack aubg page
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
Due: prettier --write, eslint --fix

Add the resend api secret to the stack
  docker-swarm-stack.yml
Due: none

send verification emails upon successful registration (#870)
  docker-swarm-stack.yml
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/mail_service/utils.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_participant_routes.py
  services/py-api/tests/integration_tests/test_team_routes.py
  services/py-api/tests/integration_tests/test_verification_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_participant_handlers.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

871: Add favicon and title (#889)
  services/web/index.html
Due: prettier --write

initial structure
  services/web/public/AwardsSection/awards_bg.png
  services/web/public/AwardsSection/blue_stone.png
  services/web/public/AwardsSection/red_stone.png
  services/web/public/AwardsSection/white_stone.png
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

Adding controls to video
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

Matched the font to schedule
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

Better scaling for mobile
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

#875 font and hover effect
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
Due: prettier --write, eslint --fix

Add favicon
  services/web/index.html
  services/web/public/favicon.ico
Due: prettier --write

Change the favicon path
  services/web/index.html
Due: prettier --write

871 make favicon and titles (#896)
  services/web/index.html
  services/web/public/favicon.ico
Due: prettier --write

brought over from main page
  services/web/src/website/HackathonPage/Footer/footer.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

update hackathon link
  services/web/src/website/MainPage/Navigation/DesktopNav.tsx
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

pr open
  services/web/package-lock.json
  services/web/package.json
  services/web/public/jury/jury_line_and_dot.svg
  services/web/public/jury/jury_page_break.svg
  services/web/public/jury/jury_title.svg
  services/web/public/mentors/mentors_title.svg
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/css/embla-jury.css
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/js/EmblaCarousel.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/JurySection/StaticContent/jury.json
  services/web/src/website/HackathonPage/JurySection/components/JuryModule.tsx
  services/web/src/website/HackathonPage/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/MentorsSection/StaticContent/mentors.json
  services/web/src/website/HackathonPage/MentorsSection/components/MentorsSection.tsx
Due: prettier --write, eslint --fix

change font, color, remove blob
  services/web/src/website/HackathonPage/Footer/HackathonFooter.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

#875 added mobile and toggle navigation with icons
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
  services/web/src/website/HackathonPage/Navigation/Navigation.tsx
  services/web/src/website/HackathonPage/Navigation/images/about.svg
  services/web/src/website/HackathonPage/Navigation/images/faq.svg
  services/web/src/website/HackathonPage/Navigation/images/grading.svg
  services/web/src/website/HackathonPage/Navigation/images/schedule.svg
Due: prettier --write, eslint --fix

Start work on route for feature-switches
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/schemas/feature_switch_schemas/feature_switch_schema.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
Due: none

updated hackathon footer links
  services/web/src/website/HackathonPage/Footer/HackathonFooter.tsx
Due: prettier --write, eslint --fix

#875 links fixed
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

fix a few footer links
  services/web/src/website/MainPage/Footer/Footer.tsx
Due: prettier --write, eslint --fix

Update the workflow, tweak the resend email route
  .github/workflows/pipeline.yml
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
