Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix some typo and remove print
  services/py-api/src/service/mail_service/mail_client.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
Due: none

don't allow verification of an already verified participant
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

add verification tests checking the duplicate verfication of a participant
  services/py-api/tests/integration_tests/test_verification_routes.py
Due: none

use the result pattern for the retrying of the transaction
  services/py-api/src/database/transaction_manager.py
Due: none

fix tests for the new logic of retrying transactions
  services/py-api/src/database/transaction_manager.py
  services/py-api/tests/unit_tests/test_database_layer/test_trancation_manager.py
Due: none

fix bugs with retrying transactions
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/database/transaction_manager.py
Due: none

fix logging for participant&team repo and email service
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/hackathon_mail_service.py
Due: none

change resend email status code to 202
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
Due: none

#835 implement endpoint for sending verification emails ivan rewrite (#900)
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/database/transaction_manager.py
  services/py-api/src/environment.py
  services/py-api/src/server/config/server_config.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
  services/py-api/src/service/__init__.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/py-api/src/service/mail_service/hackathon_mail_service.py
  services/py-api/src/service/mail_service/mail_client.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/mail_service/utils.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/src/utils.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_verification_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_trancation_manager.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: prettier --write

Improve dependency-wiring
  services/py-api/DEPENDENCY_WIRING.md
  services/py-api/src/database/db_clients.py
  services/py-api/src/database/db_managers.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/database/transaction_managers.py
  services/py-api/src/server/config/app_factory.py
  services/py-api/src/server/config/server_config.py
  services/py-api/src/server/handlers/hackathon_handlers.py
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/handlers/utility_hanlders.py
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/logger/logger_factory.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/path_operation_decorators.py
  services/py-api/src/server/routes/teams_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/hackathon_mail_service.py
  services/py-api/src/service/mail_service/mail_clients/__init__.py
  services/py-api/src/service/mail_service/mail_clients/base_mail_client.py
  services/py-api/src/service/mail_service/mail_clients/mail_client_factory.py
  services/py-api/src/service/mail_service/mail_clients/resend_mail_client.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/src/utils.py
Due: none

Start fixing tets
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_db_manager.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_trancation_manager.py
Due: none

Fix some nits
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/hackathon_mail_service.py
Due: none

Cleanup
  services/py-api/src/server/config/app_factory.py
  services/py-api/src/server/routes/path_operation_decorators.py
Due: none

Add endpoint to check the state of the isRegistrationOpen feature-switch
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/schemas/feature_switch_schemas/feature_switch_schema.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
Due: none

Implement dependency for checking if registration is closed when creating participant
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
Due: none

Fix db_managers tests
  services/py-api/src/database/db_managers.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_db_manager.py
Due: none

finished initial commit
  services/web/public/hackLanding/death_star.svg
  services/web/public/hackLanding/space.svg
  services/web/public/hackLanding/title.svg
  services/web/public/hackMission/mission.svg
  services/web/public/hackMission/underline.svg
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
  services/web/tailwind.config.js
Due: prettier --write, eslint --fix

resolved all comments
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/js/EmblaCarousel.tsx
  services/web/src/website/HackathonPage/JudgesAndMentorsOptions.tsx
  services/web/src/website/HackathonPage/JuryAndMentorModule.tsx
  services/web/src/website/HackathonPage/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/MentorsSection/components/MentorsSection.tsx
Due: prettier --write, eslint --fix

Fix participant_repository tests
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
Due: none

#835 removed heading
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

#888 removed border of image
  services/web/public/participate.png
Due: none

#888 fixed image border
  services/web/public/participate.png
Due: none

#880 recap section (#892)
  services/web/index.html
  services/web/public/orbits-recap-background.png
  services/web/public/yellow-n-icon.svg
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
  services/web/styles.css
Due: prettier --write, eslint --fix

#895 hackaubg footer section (#898)
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/web/index.html
  services/web/src/website/HackathonPage/Footer/HackathonFooter.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

#888 fixed image border (#904)
  services/web/public/participate.png
Due: none

fixed slide sizing and title
  services/web/src/website/HackathonPage/JuryAndMentorModule.tsx
  services/web/src/website/HackathonPage/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/MentorsSection/components/MentorsSection.tsx
Due: prettier --write, eslint --fix

#875 mobile button
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

resolved comments
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
Due: prettier --write, eslint --fix

#875 navigation for hack aubg page (#893)
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
  services/web/src/website/HackathonPage/Navigation/Navigation.tsx
  services/web/src/website/HackathonPage/Navigation/images/about.svg
  services/web/src/website/HackathonPage/Navigation/images/faq.svg
  services/web/src/website/HackathonPage/Navigation/images/grading.svg
  services/web/src/website/HackathonPage/Navigation/images/participate.svg
  services/web/src/website/HackathonPage/Navigation/images/schedule.svg
Due: prettier --write, eslint --fix

fixed folders
  services/web/src/website/HackathonPage/CarouselComponents/JudgesAndMentorsOptions.tsx
  services/web/src/website/HackathonPage/CarouselComponents/JuryAndMentorModule.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/StaticContent/jury.json
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/StaticContent/mentors.json
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/components/MentorsSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

Fix functionality for feature-switches
  services/py-api/src/database/model/feature_switch_model.py
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/schemas/feature_switch_schemas/__init__.py
  services/py-api/src/server/schemas/feature_switch_schemas/feature_switch_schema.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Fix team repository tetsts
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
Due: none

draft of grading section
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

remove uneccessary deps
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

restructure repository methods
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/routes/utility_routes.py
Due: none

Fix repository layer tests
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
Due: none

Journey section done
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

add is_reg_open dep to the verification routes
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/verification_routes.py
Due: none

responsive grading section
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

#860 feature switch (#869)
  services/py-api/src/database/db_manager.py
  services/py-api/src/database/model/feature_switch_model.py
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
