Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix jwt serialization and deserialization
  services/py-api/src/database/model/json_serializer.py
  services/py-api/src/dependency_wiring.py
  services/py-api/src/server/handlers/hackathon/verification_handlers.py
  services/py-api/src/service/hackathon/hackathon_service.py
  services/py-api/src/service/hackathon/participants_registration_service.py
  services/py-api/src/service/jwt_utils/codec.py
  services/py-api/src/service/jwt_utils/schemas.py
Due: none

Fix typo
  services/py-api/src/database/model/json_serializer.py
Due: none

Fix missing comma
  services/py-api/src/server/routes/routes_dependencies.py
Due: none

Create the tooling for the successful closure of the hackathon form
  services/py-api/src/database/model/feature_switch_model.py
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/participants_registration_service.py
Due: none

close the registration for new teams when the last part is verified
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

add registration form with validation and reusable components
  services/web/src/App.tsx
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

bug fixes update participants in a bulk operation
  services/py-api/src/database/model/feature_switch_model.py
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/integration_tests/test_verification_routes.py
Due: none

minor fixes
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
  services/web/tailwind.config.js
Due: prettier --write, eslint --fix

cleanup the readom teams created during int testing
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/handlers/hackathon_handlers.py
  services/py-api/src/server/routes/teams_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_verification_routes.py
Due: none

implement final closing of registration
  services/py-api/src/server/handlers/hackathon_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/hackathon_service.py
Due: none

fix input to dropdown components
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

add form validation
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

add basic styling
  services/web/public/RegistrationForm/s.png
  services/web/src/App.tsx
  services/web/src/website/FormPage/FormPage.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationFormPage.tsx
Due: prettier --write, eslint --fix

working
  services/web/src/internal_library/InputComponent/InputComponent.tsx
  services/web/src/internal_library/RadioComponent/RadioComponent.tsx
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

not working
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

almost working
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

undef working
  services/web/src/internal_library/RadioComponent/RadioComponent.tsx
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

team_name not working properly
  services/web/src/internal_library/RadioComponent/RadioComponent.tsx
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

working
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

ready
  services/web/src/website/FormPage/FormPage.tsx
Due: prettier --write, eslint --fix

fixed mobile margins
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

922 Implements ellipses on hover and reworks the size demensions for different devices
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

restructure to remove code duplication, enahance docs and reusability
  services/py-api/src/database/repository/feature_switch_repository.py
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/hackathon_handlers.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/service/feature_switch_service.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
Due: none

small fix
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

922 Implements ellipses on hover and reworks the size dimensions for different devices (#924)
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

adjusted landing page
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
Due: prettier --write, eslint --fix

add width
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

fix mobile width
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

small phone fix
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
Due: prettier --write, eslint --fix

fix one more width on mobile
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
Due: prettier --write, eslint --fix

881 grading criteria (#906)
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

Save and rework navigation
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

rework feature switches and coming soon sections
  services/web/src/config.ts
  services/web/src/constants.ts
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/components/MentorsSection.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

fix titles
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/components/MentorsSection.tsx
Due: prettier --write, eslint --fix

Mentors and Judges section (#897)
  package-lock.json
  package.json
  services/py-api/.env.sample
  services/web/package-lock.json
  services/web/package.json
  services/web/public/jury/jury_line_and_dot.svg
  services/web/public/jury/jury_page_break.svg
  services/web/public/jury/jury_title.svg
  services/web/public/mentors/mentors_title.svg
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/css/embla-jury.css
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/js/EmblaCarousel.tsx
  services/web/src/config.ts
  services/web/src/constants.ts
  services/web/src/website/HackathonPage/CarouselComponents/JudgesAndMentorsOptions.tsx
  services/web/src/website/HackathonPage/CarouselComponents/JuryAndMentorModule.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/StaticContent/jury.json
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/StaticContent/mentors.json
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/components/MentorsSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

fix mobile nav links
  services/web/src/website/MainPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

welcome and verify emails
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
Due: prettier --write

Reworked navigation in hackaubg finished
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
Due: prettier --write, eslint --fix

WIP fixing hrefs
  services/web/src/website/MainPage/AboutSection/components/IdentitySection.tsx
  services/web/src/website/MainPage/Footer/Footer.tsx
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
