Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.tsx*": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.scss": [
    "prettier --write"
  ]
}

desktop almost done backgound image issue
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

fix done
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

fix done (#899)
  services/web/src/website/MainPage/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

added progress bar and fixed last slide
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/css/embla-jury.css
  services/web/src/components/EmblaCarousel/SlidesPerViewCarousel/js/EmblaCarousel.tsx
  services/web/src/website/HackathonPage/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/MentorsSection/components/MentorsSection.tsx
Due: prettier --write, eslint --fix

#835 added participate now btn to mobile nav and transition to normal nav
  services/web/src/website/HackathonPage/Navigation/DesktopNav.tsx
  services/web/src/website/HackathonPage/Navigation/MobileNav.tsx
  services/web/src/website/HackathonPage/Navigation/images/participate.svg
Due: prettier --write, eslint --fix

Fix the unit tests for the resend verify email logic
  services/py-api/src/environment.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Fix the tests
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

fix desktop margins and try fixing background
  services/web/public/AwardsSection/line.svg
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

make bg picture fit for desktop
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

fix stone images vw
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

fix vw values
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

fix middle stone margin
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

add grading criteria tables
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
Due: prettier --write, eslint --fix

#835 implement endpoint for sending verification emails (#849)
  .github/workflows/pipeline.yml
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/environment.py
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Successfully updates the participant document
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/server/handlers/participants_handlers.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
  services/py-api/src/service/hackathon_service.py
Due: none

fix bg picture
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

Intial setup
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/participants_verification_service.py
Due: none

#835 added endpoint for sending verification emails
  services/py-api/src/server/exception.py
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

#835 made improvements to code, mostly the return types
  services/py-api/src/server/exception.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/hackathon_service.py
Due: none

#835 unit tests
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

#835 email resend service ac tually resending emails
  services/py-api/src/server/handlers/verification_handlers.py
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/participants_verification_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Update the workflow, tweak the resend email route
  services/py-api/src/server/routes/verification_routes.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

Fix the unit tests for the resend verify email logic
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Refactor mail service
  services/py-api/src/environment.py
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/py-api/src/service/mail_service/hackathon_mail_service.py
  services/py-api/src/service/mail_service/mail_client.py
  services/py-api/src/service/mail_service/mail_service.py
  services/py-api/src/service/mail_service/resend_service.py
  services/py-api/src/service/mail_service/utils.py
  services/py-api/src/utils.py
Due: prettier --write

Refactor hackathon service to use new mail service
  services/py-api/src/server/exception.py
  services/py-api/src/service/__init__.py
  services/py-api/src/service/hackathon_service.py
Due: none

Fix logic errors and types
  services/py-api/src/database/model/participant_model.py
  services/py-api/src/service/participants_registration_service.py
  services/py-api/src/service/participants_verification_service.py
Due: none

Fix typo
  services/py-api/src/server/handlers/verification_handlers.py
Due: none

Fix some nits
  services/py-api/src/server/config/server_config.py
  services/py-api/src/server/routes/dependency_factory.py
  services/py-api/src/server/schemas/request_schemas/schemas.py
Due: none

Comment out fetch_all as it is logically incorrect
  services/py-api/src/database/repository/participants_repository.py
  services/py-api/src/database/repository/teams_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_participant_repository.py
  services/py-api/tests/unit_tests/test_database_layer/test_team_repository.py
Due: none

Fix formatting and add docs
  services/py-api/src/server/routes/participants_routes.py
  services/py-api/src/server/routes/verification_routes.py
Due: none

Fix verification_handlers tests
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
Due: none

Fix test_participant_registration_service
  services/py-api/src/service/participants_registration_service.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
Due: none

Add tests for hackathon service sending of emails
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Fix test_participants_verification_service
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
Due: none

Improve logging in hackathon service email funcs
  services/py-api/src/service/hackathon_service.py
Due: none

Fix shadowing of name
  services/py-api/tests/integration_tests/conftest.py
Due: none

Fix nits
  services/py-api/src/environment.py
  services/py-api/src/service/hackathon_service.py
Due: none

Fix calling wrong method in send-email route
  services/py-api/src/server/routes/verification_routes.py
Due: none

Fix tests
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none
