Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

rework structure
  services/web/src/App.tsx
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardsSection.tsx
  services/web/src/website/HackathonPage8.0/CarouselComponents/components/MentorsSection/MentorsSection.tsx
  services/web/src/website/HackathonPage8.0/FAQSection/FAQSection.tsx
  services/web/src/website/HackathonPage8.0/FooterSection/FooterSection.tsx
  services/web/src/website/HackathonPage8.0/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/MentorsAndJudgesSection.tsx
  services/web/src/website/HackathonPage8.0/MissionSection/MissionSection.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/NavigationSection.tsx
  services/web/src/website/HackathonPage8.0/RecapSection/RecapSection.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/SponsorsSection.tsx
Due: prettier --write, eslint --fix

rework structure (#1172)
  services/web/src/App.tsx
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardsSection.tsx
  services/web/src/website/HackathonPage8.0/CarouselComponents/components/MentorsSection/MentorsSection.tsx
  services/web/src/website/HackathonPage8.0/FAQSection/FAQSection.tsx
  services/web/src/website/HackathonPage8.0/FooterSection/FooterSection.tsx
  services/web/src/website/HackathonPage8.0/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/MentorsAndJudgesSection.tsx
  services/web/src/website/HackathonPage8.0/MissionSection/MissionSection.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/NavigationSection.tsx
  services/web/src/website/HackathonPage8.0/RecapSection/RecapSection.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/SponsorsSection.tsx
Due: prettier --write, eslint --fix

Update
  services/py-api/src/database/repository/admin/sponsors_repository.py
  services/py-api/src/server/handlers/admin/sponsors_handlers.py
  services/py-api/src/server/routes/admin/sponsors_routes.py
  services/py-api/tests/integration_tests/test_sponsor_routes.py
  services/py-api/tests/unit_tests/test_handlers/test_utility_handlers.py
Due: none

Complete Judges dashboard page (Closes #1087) (#1100)
  .gitignore
  package-lock.json
  services/web/package-lock.json
  services/web/src/App.tsx
  services/web/src/components/ui/card.tsx
  services/web/src/internalLibrary/AdminCard/adminCard.tsx
  services/web/src/internalLibrary/DropdownComponent/DropdownComponent.test.tsx
  services/web/src/internalLibrary/DropdownComponent/DropdownComponent.tsx
  services/web/src/internalLibrary/InputComponent/InputComponent.test.tsx
  services/web/src/internalLibrary/InputComponent/InputComponent.tsx
  services/web/src/internalLibrary/RadioComponent/RadioComponent.test.tsx
  services/web/src/internalLibrary/RadioComponent/RadioComponent.tsx
  services/web/src/internalLibrary/reusable-components/test-form.tsx
  services/web/src/types/judge.ts
  services/web/src/website/AdminPanelPage/AdminStyle.ts
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/JudgesEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/JudgesPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/components/JudgeFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/mockJudges.ts
  services/web/src/website/AdminPanelPage/DashboardPage/pages/JudgesPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/LoginPage/LoginForm.tsx
  services/web/src/website/AdminPanelPage/LoginPage/mockAdmins.ts
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/vite.config.ts
Due: prettier --write, eslint --fix

Made the first place card centrally aligned
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

move admin-card out of components/ui
  services/web/src/components/admin-card.tsx
Due: prettier --write, eslint --fix

Added tests
  services/py-api/src/database/repository/admin/sponsors_repository.py
  services/py-api/src/server/handlers/admin/sponsors_handlers.py
  services/py-api/src/server/handlers/base_handler.py
  services/py-api/src/server/routes/admin/sponsors_routes.py
  services/py-api/src/service/admin/sponsors_service.py
  services/py-api/tests/integration_tests/test_sponsor_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_sponsors_repository.py
  services/py-api/tests/unit_tests/test_handlers/test_sponsors_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_sponsors_service.py
Due: none

update imports
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/SponsorsPage.tsx
Due: prettier --write, eslint --fix

update more imports
  services/web/src/components/admin-card.tsx
Due: prettier --write, eslint --fix

Fixed cards' backgrounds and semantics
  services/web/public/AwardsSection/1st.png
  services/web/public/AwardsSection/2nd.png
  services/web/public/AwardsSection/3rd.png
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

Added missing session in delete
  services/py-api/src/database/repository/admin/sponsors_repository.py
Due: none

Added missing sessions
  services/py-api/src/database/repository/admin/sponsors_repository.py
Due: none

Optimized responsive design for landscape phones and tablets
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardsSection.tsx
Due: prettier --write, eslint --fix

Reverted the changes in routing
  services/web/src/App.tsx
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
Due: prettier --write, eslint --fix

Fixed casting/unwraping
  services/py-api/src/database/repository/admin/sponsors_repository.py
Due: none

Add import for judges page
  services/web/src/App.tsx
Due: prettier --write, eslint --fix

Returned commented test
  services/py-api/tests/integration_tests/test_sponsor_routes.py
Due: none

Add import for judges page (#1174)
  services/web/src/App.tsx
Due: prettier --write, eslint --fix

Added font imports (WILL BE REMOVED)
  services/web/index.html
  services/web/tailwind.config.js
Due: prettier --write

Fixed wrong mock type
  services/py-api/tests/unit_tests/test_database_layer/test_sponsors_repository.py
Due: none

Added crud for sponsors in the admin panel (#1150)
  services/py-api/src/app_factory.py
  services/py-api/src/database/repository/admin/sponsors_repository.py
  services/py-api/src/exception.py
  services/py-api/src/server/handlers/admin/sponsors_handlers.py
  services/py-api/src/server/handlers/base_handler.py
  services/py-api/src/server/handlers/http_handlers.py
  services/py-api/src/server/handlers/utility_handlers.py
  services/py-api/src/server/routes/admin/sponsors_routes.py
  services/py-api/src/server/routes/utility_routes.py
  services/py-api/src/server/schemas/response_schemas/admin/sponsor_schemas.py
  services/py-api/src/service/admin/sponsors_service.py
  services/py-api/tests/integration_tests/test_sponsor_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_sponsors_repository.py
  services/py-api/tests/unit_tests/test_handlers/test_sponsors_handlers.py
  services/py-api/tests/unit_tests/test_handlers/test_utility_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_sponsors_service.py
Due: none

feat: Implement admin page dashboard (Closes #1084) (#1099)
  services/web/src/App.tsx
  services/web/src/website/AdminPanelPage/AdminStyles.ts
  services/web/src/website/AdminPanelPage/DashboardPage/DashboardPage.tsx
Due: prettier --write, eslint --fix

Edited HackathonPage.tsx for testing purposes (WILL BE REMOVED)
  services/web/public/ScheduleSection/left-background.png
  services/web/public/ScheduleSection/logo.png
  services/web/public/ScheduleSection/right-background.png
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleSection.tsx
Due: prettier --write, eslint --fix

Sponsorship Pages Overhaul (#1086)
  services/web/src/components/ui/card.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/SponsorsAddPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/SponsorsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/SponsorsIdPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/SponsorsPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/components/SponsorshipFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/mockSponsors.ts
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/sponsors.json
  services/web/src/website/AdminPanelPage/DashboardPage/pages/SponsorsPage/validation/validation.tsx
Due: prettier --write, eslint --fix

Revert "Implement hackaubg folder structure"
  services/web/src/App.tsx
  services/web/src/website/HackathonPage/AwardsSection/AwardsSection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/JudgesAndMentorsOptions.tsx
  services/web/src/website/HackathonPage/CarouselComponents/JuryAndMentorModule.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/StaticContent/jury.json
  services/web/src/website/HackathonPage/CarouselComponents/components/JurySection/components/JurySection.tsx
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/StaticContent/mentors.json
  services/web/src/website/HackathonPage/CarouselComponents/components/MentorsSection/components/MentorsSection.tsx
  services/web/src/website/HackathonPage/FAQSection/HackathonFAQ.tsx
  services/web/src/website/HackathonPage/FooterSection/HackathonFooter.tsx
  services/web/src/website/HackathonPage/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneyModule.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage/JourneySection/StaticContent/journeyEntries.json
  services/web/src/website/HackathonPage/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage/MissionSection/MissionSection.tsx
  services/web/src/website/HackathonPage/NavigationSection/DesktopNav.tsx
  services/web/src/website/HackathonPage/NavigationSection/MobileNav.tsx
  services/web/src/website/HackathonPage/NavigationSection/Navigation.tsx
  services/web/src/website/HackathonPage/NavigationSection/images/about.svg
  services/web/src/website/HackathonPage/NavigationSection/images/faq.svg
  services/web/src/website/HackathonPage/NavigationSection/images/grading.svg
  services/web/src/website/HackathonPage/NavigationSection/images/hublogo.webp
  services/web/src/website/HackathonPage/NavigationSection/images/participate.svg
  services/web/src/website/HackathonPage/NavigationSection/images/schedule.svg
  services/web/src/website/HackathonPage/RecapSection/Recap.tsx
  services/web/src/website/HackathonPage/ScheduleSection/ScheduleSection.tsx
  services/web/src/website/HackathonPage/SponsorsSection/HackathonSponsors.tsx
  services/web/src/website/HackathonPage/SponsorsSection/constants.tsx
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
Due: prettier --write, eslint --fix

Create scaffolding for auth (#1131)
  services/py-api/src/app_factory.py
  services/py-api/src/database/model/admin/hub_admin_model.py
  services/py-api/src/database/model/admin/hub_member_model.py
  services/py-api/src/server/handlers/auth/__init__.py
  services/py-api/src/server/handlers/auth/auth_handlers.py
  services/py-api/src/server/handlers/http_handlers.py
  services/py-api/src/server/routes/admin/hub_member_routes.py
  services/py-api/src/server/routes/admin/judges_routes.py
  services/py-api/src/server/routes/admin/mentors_routes.py
  services/py-api/src/server/routes/admin/past_events_routes.py
  services/py-api/src/server/routes/admin/sponsors_routes.py
  services/py-api/src/server/routes/auth/__init__.py
  services/py-api/src/server/routes/auth/auth_routes.py
  services/py-api/src/server/routes/feature_swithces_routes.py
  services/py-api/src/server/routes/hackathon/hackathon_management_routes.py
  services/py-api/src/server/routes/route_dependencies.py
  services/py-api/src/server/routes/routes.py
  services/py-api/src/server/schemas/request_schemas/auth/__init__.py
  services/py-api/src/server/schemas/response_schemas/auth/__init__.py
  services/py-api/src/service/auth/__init__.py
  services/py-api/src/service/auth/auth_service.py
  services/py-api/tests/integration_tests/conftest.py
Due: none

add fallback value (#1139)
  services/py-api/src/logger/logger_factory.py
Due: none

Add georginikolov7 and MagdalenaZh as CODEOWNERS as they are the new heads for 2025/2026 (#1130)
  .github/CODEOWNERS
Due: none

remove idea folder from git (#1126)
  .gitignore
  .idea/workspace.xml
Due: none

#1083 Implemented Admin Login Page with Mock Authentication (#1098)
  services/web/src/App.tsx
  services/web/src/lib/auth/mockAdmins.ts
  services/web/src/website/AdminPanelPage/LoginPage/LoginForm.tsx
  services/web/src/website/AdminPanelPage/LoginPage/LoginPage.tsx
Due: prettier --write, eslint --fix

Add validation of participant_id when resending email (#1129)
  services/py-api/src/server/handlers/hackathon/verification_handlers.py
  services/py-api/src/server/schemas/request_schemas/hackathon/schemas.py
  services/py-api/tests/integration_tests/test_verification_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
Due: none

#1119 Split hackathon service into single-responsibility classes (#1122)
  package-lock.json
  services/py-api/src/app_factory.py
  services/py-api/src/server/handlers/feature_switch_handler.py
  services/py-api/src/server/handlers/hackathon/hackathon_handlers.py
  services/py-api/src/server/handlers/hackathon/participants_handlers.py
  services/py-api/src/server/handlers/hackathon/verification_handlers.py
  services/py-api/src/server/routes/route_dependencies.py
  services/py-api/src/service/feature_switches/__init__.py
  services/py-api/src/service/feature_switches/feature_switch_service.py
  services/py-api/src/service/feature_switches/feature_switches.py
  services/py-api/src/service/hackathon/admin_team_service.py
  services/py-api/src/service/hackathon/constants.py
  services/py-api/src/service/hackathon/hackathon_mail_service.py
  services/py-api/src/service/hackathon/hackathon_service.py
  services/py-api/src/service/hackathon/hackathon_utility_service.py
  services/py-api/src/service/hackathon/participant_service.py
  services/py-api/src/service/hackathon/registration_service.py
  services/py-api/src/service/hackathon/team_service.py
  services/py-api/src/service/hackathon/verification_service.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_participant_routes.py
  services/py-api/tests/integration_tests/test_verification_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_hackathon_handlers.py
  services/py-api/tests/unit_tests/test_handlers/test_participant_handlers.py
  services/py-api/tests/unit_tests/test_handlers/test_verification_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_registration_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participants_verification_service.py
  services/web/package-lock.json
Due: none

#1078 Admin Past Events CRUD
  services/py-api/src/database/repository/admin/past_events_repository.py
  services/py-api/src/exception.py
  services/py-api/src/server/handlers/admin/past_events_handlers.py
  services/py-api/src/server/routes/admin/past_events_routes.py
  services/py-api/src/server/schemas/request_schemas/admin/past_event_schemas.py
  services/py-api/src/server/schemas/response_schemas/admin/past_event_schemas.py
  services/py-api/src/service/admin/past_events_service.py
  services/py-api/tests/integration_tests/test_past_events_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_past_events_repository.py
  services/py-api/tests/unit_tests/test_handlers/test_past_events_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_past_events_service.py
Due: none

1135 split test hacathon servicepy into different files (#1140)
  services/py-api/tests/unit_tests/test_service_layer/test_admin_team_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_utility_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_participant_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_team_service.py
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
