Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Nov den novi zabavi
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

ngix service disvoer part1
  docker-swarm-stack.yml
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

new pipeline
  .github/workflows/dev_deploy.yml
  .github/workflows/dev_deploy_py_api.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

Try to fix healthcheck
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

Add back shared mmeory
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

Move satisfy directive i n server context
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

create skeleton for the sponsors
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/SponsorsSection/HackathonSponsors.tsx
Due: prettier --write, eslint --fix

filter, sort and display sponsors on desktop
  services/web/src/website/HackathonPage/SponsorsSection/HackathonSponsors.tsx
  services/web/src/website/HackathonPage/SponsorsSection/constants.tsx
Due: prettier --write, eslint --fix

center the sponsors for the phone
  services/web/src/website/HackathonPage/SponsorsSection/HackathonSponsors.tsx
Due: prettier --write, eslint --fix

change allowed ip range
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

Fix patching of the env
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

clean up the test traces on the workflows
  .github/workflows/dev_deploy.yml
Due: none

Fix cd ivan (#942)
  .github/workflows/README.md
  .github/workflows/dev_deploy.yml
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/py-api/src/database/db_manager.py
  services/py-api/src/environment.py
  services/py-api/src/server/config/server_config.py
  services/py-api/src/service/hackathon_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
  services/questionnaire/src/routes/questionnaires/shiki/dist/languages/nginx.tmLanguage-d7d0f70f.mjs
  services/questionnaire/src/routes/questionnaires/shiki/languages/languages/nginx.tmLanguage-d7d0f70f.mjs
  services/web/Dockerfile
  services/web/nginx.dev.conf
Due: none

fix container width
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
Due: prettier --write

jwt tokens working
  services/web/src/internal_library/RadioComponent/RadioComponent.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

jwt almost ready request not working for some reason
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

add links to the sponsor images
  services/web/src/website/HackathonPage/SponsorsSection/HackathonSponsors.tsx
  services/web/src/website/HackathonPage/SponsorsSection/constants.tsx
Due: prettier --write, eslint --fix

Split nginx docker files to prod and dev and add more docs
  .github/workflows/dev_deploy.yml
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/dev.Dockerfile
  services/web/prod.Dockerfile
Due: none

Fix path
  .github/workflows/dev_deploy.yml
Due: none

Fix docs
  services/web/nginx.dev.conf
  services/web/prod.Dockerfile
Due: none

Fix docs
  docker-swarm-stack.yml
Due: none

Optimize npm install by using docker cache
  services/web/dev.Dockerfile
  services/web/prod.Dockerfile
Due: none

Fix nginx prod
  services/web/nginx.prod.conf
Due: none

Split nginx docker files to prod and dev and add more docs (#944)
  .github/workflows/dev_deploy.yml
  docker-swarm-stack.yml
  services/py-api/Dockerfile
  services/web/Dockerfile
  services/web/dev.Dockerfile
  services/web/nginx.dev.conf
  services/web/nginx.prod.conf
  services/web/prod.Dockerfile
Due: none

Update dev_deploy.yml
  .github/workflows/dev_deploy.yml
Due: none

@alex
  services/web/src/website/HackathonPage/JourneySection/JourneyModule.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
Due: prettier --write, eslint --fix

increased top margin
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
Due: prettier --write, eslint --fix

added actual text
  services/web/src/website/HackathonPage/JourneySection/JourneyModule.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage/JourneySection/StaticContent/journeyEntries.json
Due: prettier --write, eslint --fix

chefs kiss solution
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
Due: prettier --write, eslint --fix

ty for the ajran isak
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
Due: prettier --write, eslint --fix

should be fine
  services/web/src/website/HackathonPage/JourneySection/JourneyModule.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
Due: prettier --write, eslint --fix

Update docker-swarm-stack.yml
  docker-swarm-stack.yml
Due: none

Journey section done (#905)
  docker-swarm-stack.yml
  services/web/package-lock.json
  services/web/package.json
  services/web/public/JourneySection/symbol.svg
  services/web/src/index.css
  services/web/src/website/HackathonPage/HackathonPage.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneyModule.tsx
  services/web/src/website/HackathonPage/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage/JourneySection/StaticContent/journeyEntries.json
  services/web/src/website/HackathonPage/components/Recap.tsx
Due: prettier --write, eslint --fix

Update Dockerfile
  services/py-api/Dockerfile
Due: none

Update dev.Dockerfile
  services/web/dev.Dockerfile
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
