Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix Very Many Things From Beta Feedback (#1296)
  services/web/public/faviconHack.ico
  services/web/src/internalLibrary/AdminCard/adminCard.tsx
  services/web/src/website/HackathonPage8.0/GradingSection/data.ts
  services/web/src/website/HackathonPage8.0/JourneySection/JourneySection.tsx
  services/web/src/website/HackathonPage8.0/JourneySection/StaticContent/journeyTabs.json
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/components/MentorsAndJudgesCard.tsx
  services/web/src/website/HackathonPage8.0/MissionSection/MissionSection.tsx
  services/web/src/website/HackathonPage8.0/MissionSection/data.ts
  services/web/src/website/HackathonPage8.0/NavigationSection/DesktopNavigation.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleItem.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleSection.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/ScheduleTabs.tsx
  services/web/src/website/HackathonPage8.0/ScheduleSection/data.ts
  services/web/src/website/HackathonPage8.0/ScheduleSection/style.css
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
Due: prettier --write, eslint --fix

Na
  services/py-api/src/server/handlers/admin/hub_members_handlers.py
  services/py-api/src/service/admin/hub_members_service.py
  services/py-api/src/service/admin/judges_service.py
  services/py-api/src/service/admin/mentors_service.py
  services/py-api/src/service/admin/past_events_service.py
  services/py-api/src/service/admin/sponsors_service.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_service_layer/test_hub_members_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_judges_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_mentors_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_past_events_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_sponsors_service.py
Due: none

center the form participate button
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

fix form labels on mobile
  services/web/src/website/RegistrationFormPage/RegistrationForm/styles.ts
Due: none

fix awards header spacing on mobile
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardItem.tsx
Due: prettier --write, eslint --fix

remove space in 3000
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
Due: prettier --write, eslint --fix

Taka de
  services/py-api/src/database/repository/admin/hub_members_repository.py
  services/py-api/src/database/repository/admin/past_events_repository.py
  services/py-api/src/service/admin/past_events_service.py
Due: none

Taka de x2
  services/py-api/src/service/admin/past_events_service.py
Due: none

add dates
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.css
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.tsx
Due: prettier --write, eslint --fix

Images are contained
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/JudgesEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/MentorsEditPage.tsx
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

Fix HackAUBG frontend bugs and Improve Overall Styles (#1300)
  services/web/src/website/HackathonPage8.0/AwardsSection/AwardItem.tsx
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.css
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.tsx
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/styles.ts
Due: prettier --write, eslint --fix

Critical packages update
  services/web/package-lock.json
Due: none

Update form error message
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/config.ts
  services/web/src/website/RegistrationFormPage/RegistrationForm/schema.ts
Due: prettier --write, eslint --fix

implement participants page with data table (#1255)
  .vscode/settings.json
  services/py-api/src/server/handlers/hackathon/hackathon_handlers.py
  services/py-api/src/server/routes/hackathon/hackathon_management_routes.py
  services/py-api/src/server/schemas/response_schemas/hackathon/schemas.py
  services/py-api/src/service/hackathon/participant_service.py
  services/web/package-lock.json
  services/web/package.json
  services/web/src/App.tsx
  services/web/src/components/ui/table.tsx
  services/web/src/types/participant.ts
  services/web/src/website/AdminPanelPage/DashboardPages/DashboardPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/ParticipantsPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/columns.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/data-table.tsx
Due: prettier --write, eslint --fix

Object top
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

cleanup
  services/py-api/src/database/repository/admin/past_events_repository.py
  services/py-api/src/server/handlers/admin/hub_members_handlers.py
Due: none

Voila (#1298)
  services/py-api/src/database/model/admin/hub_member_model.py
  services/py-api/src/database/model/admin/judge_model.py
  services/py-api/src/database/model/admin/mentor_model.py
  services/py-api/src/database/model/admin/past_event_model.py
  services/py-api/src/database/model/admin/sponsor_model.py
  services/py-api/src/database/repository/admin/hub_members_repository.py
  services/py-api/src/database/repository/admin/past_events_repository.py
  services/py-api/src/service/admin/hub_members_service.py
  services/py-api/src/service/admin/judges_service.py
  services/py-api/src/service/admin/mentors_service.py
  services/py-api/src/service/admin/past_events_service.py
  services/py-api/src/service/admin/sponsors_service.py
  services/py-api/tests/integration_tests/conftest.py
  services/py-api/tests/integration_tests/test_hub_members_routes.py
  services/py-api/tests/integration_tests/test_judges_routes.py
  services/py-api/tests/integration_tests/test_mentors_routes.py
  services/py-api/tests/integration_tests/test_past_events_routes.py
  services/py-api/tests/integration_tests/test_sponsor_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_database_layer/test_past_events_repository.py
  services/py-api/tests/unit_tests/test_handlers/test_past_events_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_hub_members_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_judges_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_mentors_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_past_events_service.py
  services/py-api/tests/unit_tests/test_service_layer/test_sponsors_service.py
  services/web/src/website/MainPage/AboutSection/components/PastEventSection.tsx
  services/web/src/website/RegistrationFormPage/NavigationSection/DesktopNav.tsx
  services/web/src/website/RegistrationFormPage/NavigationSection/MobileNav.tsx
  services/web/src/website/VerificationPage/components/VerificationComponent.tsx
Due: prettier --write, eslint --fix

clean up some shit
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/ParticipantsPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/columns.tsx
Due: prettier --write, eslint --fix

Add forbidden response
  services/py-api/src/server/routes/hackathon/hackathon_management_routes.py
  services/py-api/src/server/schemas/response_schemas/hackathon/schemas.py
Due: none

add delete button
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/columns.tsx
Due: prettier --write, eslint --fix

implement participants page with data table (#1255) (#1301)
  .vscode/settings.json
  services/py-api/src/server/handlers/hackathon/hackathon_handlers.py
  services/py-api/src/server/routes/hackathon/hackathon_management_routes.py
  services/py-api/src/server/schemas/response_schemas/hackathon/schemas.py
  services/py-api/src/service/hackathon/participant_service.py
  services/web/package-lock.json
  services/web/package.json
  services/web/src/App.tsx
  services/web/src/components/ui/table.tsx
  services/web/src/types/participant.ts
  services/web/src/website/AdminPanelPage/DashboardPages/DashboardPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/ParticipantsPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/columns.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/ParticipantsPage/data-table.tsx
Due: prettier --write, eslint --fix

add background
  services/web/public/meetTheTeam/hubber-bg.svg
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
Due: prettier --write, eslint --fix

Gn/bugfix/meet the team photos (#1302)
  services/web/package-lock.json
  services/web/public/meetTheTeam/hubber-bg.svg
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/JudgesEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/MentorsEditPage.tsx
  services/web/src/website/MainPage/MeetTheTeamSection/components/HubberModule.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/config.ts
  services/web/src/website/RegistrationFormPage/RegistrationForm/schema.ts
Due: prettier --write, eslint --fix

Unfuckup sb else's shit
  services/web/src/types/past-events.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsPage.tsx
  services/web/src/website/MainPage/AboutSection/components/PastEventSection.tsx
Due: prettier --write, eslint --fix

Mentor position validation
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/validation/validation.tsx
Due: prettier --write, eslint --fix

Gn/bugfix/cover picture url (#1304)
  services/web/src/types/past-events.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsPage.tsx
  services/web/src/website/MainPage/AboutSection/components/PastEventSection.tsx
Due: prettier --write, eslint --fix

Remove failing ui lib and update python to 3.12.9 (#1071) (#1306)
  docs/architecture/PY_API.md
  services/py-api/tests/unit_tests/test_service_layer/test_hackathon_service.py
Due: none

Fix secrets
  docker-swarm-stack.yml
Due: none

Fix secrets (#1307)
  docker-swarm-stack.yml
Due: none

Update secrets (#1308)
  docker-swarm-stack.yml
Due: none

Add home buttons to hackathon page navigations
  services/web/src/website/HackathonPage8.0/NavigationSection/DesktopNavigation.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/MobileNavigation.tsx
Due: prettier --write, eslint --fix

Add home buttons to hackathon page navigations (#1310)
  services/web/src/website/HackathonPage8.0/NavigationSection/DesktopNavigation.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/MobileNavigation.tsx
Due: prettier --write, eslint --fix

Add board option on main page hub members
  services/web/src/website/MainPage/MeetTheTeamSection/components/MeetTheTeam.tsx
Due: prettier --write, eslint --fix

Remove old mentors from main page
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
Due: prettier --write, eslint --fix

Smooth scroll
  services/web/package-lock.json
  services/web/package.json
  services/web/src/App.tsx
Due: prettier --write, eslint --fix

Improve SEO
  services/web/index.html
  services/web/src/website/MainPage/MainPage.tsx
Due: prettier --write, eslint --fix

Improve SEO, Add board button on main page (#1311)
  services/web/index.html
  services/web/package-lock.json
  services/web/package.json
  services/web/src/App.tsx
  services/web/src/website/MainPage/HackAUBGSection/HackAUBGSection.tsx
  services/web/src/website/MainPage/MainPage.tsx
  services/web/src/website/MainPage/MeetTheTeamSection/components/MeetTheTeam.tsx
Due: prettier --write, eslint --fix

Add google verification meta tag
  services/web/index.html
Due: prettier --write

Add google verification meta tag (#1312)
  services/web/index.html
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
