Repository AUBGTheHUB/monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Closes #1193 - Implement 404 admin design + page (#1236)
  .vscode/settings.json
  services/web/src/website/AdminPanelPage/AdminStyles.ts
  services/web/src/website/AdminPanelPage/DashboardPages/DashboardPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/SponsorsPage.tsx
  services/web/src/website/ErrorPages/Admin404Page/Admin404Page.tsx
Due: prettier --write, eslint --fix

1252 Alter Login and Register Response Schemas (#1254)
  services/py-api/src/server/handlers/auth/auth_handlers.py
  services/py-api/src/server/routes/auth/auth_routes.py
  services/py-api/src/server/schemas/dto_schemas/auth_dto_schemas.py
  services/py-api/src/server/schemas/response_schemas/auth/schemas.py
  services/py-api/src/server/schemas/response_schemas/schemas.py
  services/py-api/src/service/auth/auth_service.py
  services/py-api/src/service/auth/auth_token_service.py
  services/py-api/src/service/jwt_utils/schemas.py
  services/py-api/tests/integration_tests/test_auth_routes.py
  services/py-api/tests/unit_tests/conftest.py
  services/py-api/tests/unit_tests/test_handlers/test_auth_handlers.py
  services/py-api/tests/unit_tests/test_service_layer/test_auth_service.py
Due: none

Gn/fix aws env (#1246)
  docker-swarm-stack.yml
  services/web/package-lock.json
Due: none

1154 Navigation and Landing sections (#1218)
  services/web/package-lock.json
  services/web/public/hackLanding8.0/leftFlame.webp
  services/web/public/hackLanding8.0/rightFlame.webp
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/LandingSection/LandingSection.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/DesktopNavigation.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/MobileNavigation.tsx
  services/web/src/website/HackathonPage8.0/NavigationSection/NavigationSection.tsx
Due: prettier --write, eslint --fix

Gn/fix aws env (#1243)
  services/py-api/src/environment.py
  services/py-api/src/service/utility/aws/__init__.py
  services/py-api/src/service/utility/aws/aws_service.py
  services/py-api/src/service/utility/aws/environment.py
  services/py-api/src/service/utility/jwt_utils/__init__.py
Due: none

add aws secret cfgs (#1242)
  services/py-api/src/environment.py
Due: none

Implemented Grading Criteria section for HackAUBG 8.0 take 2 (#1224)
  services/web/public/GradingFireBR.png
  services/web/public/GradingFireTL.png
  services/web/public/gradingLogoicon.png
  services/web/src/website/HackathonPage8.0/GradingSection/GradingCard.tsx
  services/web/src/website/HackathonPage8.0/GradingSection/GradingSection.tsx
  services/web/src/website/HackathonPage8.0/GradingSection/data.ts
  services/web/src/website/HackathonPage8.0/GradingSection/types.ts
Due: prettier --write, eslint --fix

#1164 fixed footer links
  services/web/src/website/HackathonPage8.0/FooterSection/data.ts
Due: none

Update Registration + saved old in an old folder
  package-lock.json
  package.json
  services/web/src/components/ui/radio-group.tsx
  services/web/src/website/RegistrationFormPage/NavigationSection/DesktopNav.tsx
  services/web/src/website/RegistrationFormPage/NavigationSection/MobileNav.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/constants.ts
  services/web/src/website/RegistrationFormPage/RegistrationForm/flame_BR.png
  services/web/src/website/RegistrationFormPage/RegistrationForm/flame_TL.png
  services/web/src/website/RegistrationFormPage/RegistrationForm/schema.ts
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/DesktopNav.tsx
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/MobileNav.tsx
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/Navigation.tsx
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/about.svg
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/faq.svg
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/grading.svg
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/hublogo.webp
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/participate.svg
  services/web/src/website/RegistrationFormPage_OLD/NavigationSection/images/schedule.svg
  services/web/src/website/RegistrationFormPage_OLD/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage_OLD/RegistrationForm/constants.ts
  services/web/src/website/RegistrationFormPage_OLD/RegistrationForm/schema.ts
  services/web/src/website/RegistrationFormPage_OLD/RegistrationFormPage.tsx
Due: prettier --write, eslint --fix

#1249 7.0 to 8.0
  services/py-api/src/service/hackathon/hackathon_mail_service.py
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/react-email-starter/emails/verification-email.tsx
  services/react-email-starter/emails/welcome-email.tsx
  services/react-email-starter/out/verification-email.html
  services/react-email-starter/out/welcome-email.html
  services/web/src/website/MainPage/Footer/Footer.tsx
  services/web/src/website/RegistrationFormPage/RegistrationFormPage.tsx
  services/web/src/website/VerificationPage/VerificationPage.tsx
Due: prettier --write, eslint --fix

Refactor resend flow and extract UI constants
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

#1157 Added Mentors and Judges Section (#1227)
  services/web/package-lock.json
  services/web/package.json
  services/web/src/App.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/MentorsAndJudgesSection.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/assets/red-pin.svg
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/assets/yellow-pin.svg
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/components/Caroussel/index.css
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/components/Caroussel/index.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/components/CarousselButton.tsx
  services/web/src/website/HackathonPage8.0/MentorsAndJudgesSection/components/MentorsAndJudgesCard.tsx
  services/web/src/website/HackathonPage8.0/MissionSection/MissionSection.tsx
Due: prettier --write, eslint --fix

Revert "#1167 Updated Past Events Section"
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsPage.tsx
Due: prettier --write, eslint --fix

Add event description in api
  services/py-api/src/database/model/admin/past_event_model.py
  services/py-api/src/server/schemas/request_schemas/admin/past_event_schemas.py
  services/py-api/src/service/admin/past_events_service.py
Due: none

Add description, revert admin panel past events
  services/web/src/internalLibrary/AdminCard/adminCard.tsx
  services/web/src/types/past-events.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/components/PastEventFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/validation/validation.tsx
  services/web/src/website/MainPage/AboutSection/components/PastEventSection.tsx
  services/web/src/website/MainPage/AboutSection/components/PastEventSectionModal.tsx
Due: prettier --write, eslint --fix

#1249 7.0 to 8.0
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
Due: prettier --write

refactor: HubMember schema cleanup and interface move
  services/web/src/types/hub-member.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/components/TeamMemberFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/constants.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/validation/validation.tsx
Due: prettier --write, eslint --fix

Remove member type
  services/web/src/types/hub-member.ts
Due: none

Cleanup some shi
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/resources/teamMembers.json
Due: none

Nt/1217 wire up meet the team (#1251)
  package-lock.json
  services/py-api/src/database/model/admin/hub_member_model.py
  services/py-api/src/server/schemas/request_schemas/admin/hub_member_schemas.py
  services/web/src/types/hub-member.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/components/TeamMemberFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/constants.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/resources/teamMembers.json
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/validation/validation.tsx
Due: prettier --write, eslint --fix

#1249 7.0 to 8.0 (#1262)
  services/py-api/src/service/hackathon/hackathon_mail_service.py
  services/py-api/src/service/mail_service/email_templates/email-registration-confirmation.html
  services/py-api/src/service/mail_service/email_templates/email-verify-participant.html
  services/react-email-starter/emails/verification-email.tsx
  services/react-email-starter/emails/welcome-email.tsx
  services/react-email-starter/out/verification-email.html
  services/react-email-starter/out/welcome-email.html
  services/web/src/website/MainPage/Footer/Footer.tsx
  services/web/src/website/RegistrationFormPage/RegistrationFormPage.tsx
  services/web/src/website/VerificationPage/VerificationPage.tsx
Due: prettier --write, eslint --fix

HackAUBG 8.0 Footer Section Completed (#1164) (#1225)
  services/web/src/website/HackathonPage8.0/FooterSection/FooterItem.tsx
  services/web/src/website/HackathonPage8.0/FooterSection/FooterSection.tsx
  services/web/src/website/HackathonPage8.0/FooterSection/data.ts
  services/web/src/website/HackathonPage8.0/FooterSection/types.ts
Due: prettier --write, eslint --fix

Wire things up with BE
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/FeatureSwitchesPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/components/FeatureSwitchCard.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/feature-switches.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/store/useFeatureSwitches.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/types.ts
Due: prettier --write, eslint --fix

remove aws page
  services/web/src/website/AdminPanelPage/DashboardPages/DashboardPage.tsx
Due: prettier --write, eslint --fix

Implement new sponsors section
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/SponsorsSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/components/SponsorCard.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/components/SponsorRank.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/types/constatns.ts
Due: prettier --write, eslint --fix

Refactor apiClient. Start to refactor sponsors
  services/web/src/internalLibrary/InputComponent/InputComponent.tsx
  services/web/src/services/apiClient.ts
  services/web/src/types/sponsor.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/SponsorsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/SponsorsPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/components/SponsorshipFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/validation/sponsor.tsx
Due: prettier --write, eslint --fix

Finish Sponsor Edit Page
  services/web/src/helpers/formHelpers.ts
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/SponsorsEditPage.tsx
Due: prettier --write, eslint --fix

Global changes
  services/web/src/globalValidation/fileRules.ts
  services/web/src/internalLibrary/MultiSelectComponent/MultiSelectComponent.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/validation/validation.tsx
Due: prettier --write, eslint --fix

Send files from all pages
  services/web/src/globalValidation/fileRules.ts
  services/web/src/internalLibrary/InputComponent/InputComponent.tsx
  services/web/src/internalLibrary/MultiSelectComponent/MultiSelectComponent.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/JudgesEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/components/JudgeFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/JudgesPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/components/TeamMemberFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/MentorsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/components/MentorFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MentorsPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/PastEventsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/components/PastEventFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/PastEventsPage/validation/validation.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/SponsorsEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/components/SponsorshipFormFields.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/SponsorsPage/messages.tsx
Due: prettier --write, eslint --fix

Put old field forms
  services/web/src/website/RegistrationFormPage/RegistrationForm/RegistrationForm.tsx
  services/web/src/website/RegistrationFormPage/RegistrationForm/constants.ts
  services/web/src/website/RegistrationFormPage/RegistrationForm/schema.ts
Due: prettier --write, eslint --fix

#1085 Feature Switches Pages (#1101)
  .git.save
  .github/pull_request_template.md
  .lintstagedrc.json
  .prettierrc
  services/url_shortener/.gitignore
  services/url_shortener/Makefile
  services/url_shortener/README.md
  services/web/Dockerfile
  services/web/components.json
  services/web/src/App.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/DashboardPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/FeatureSwicthesPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/FeatureSwitchesPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/components/FeatureSwitchCard.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/messages.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/FeatureSwitchesPage/types.ts
  services/web/src/website/ErrorPages/Admin404Page/Admin404Page.tsx
  services/web/tsconfig.app.json
Due: prettier --write, eslint --fix

Change card sizes
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/SponsorsSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/components/SponsorCard.tsx
Due: prettier --write, eslint --fix

Remove old SponsorSection implementation
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/SponsorsCard.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/SponsorsSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/components/SponsorCard.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/components/SponsorRank.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/types.ts
  services/web/src/website/HackathonPage8.0/SponsorsSection/types/constatns.ts
  services/web/src/website/HackathonPage8.0/SponsorsSectionNew/SponsorsSection.tsx
Due: prettier --write, eslint --fix

Update form helper
  services/web/src/helpers/formHelpers.ts
Due: none

feature(1253): update types
  services/web/src/types/hub-member.ts
  services/web/src/types/mentor.ts
  services/web/src/types/utils.ts
Due: none

feature(1253): update meet-the-team
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamEditPage.tsx
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/MeetTheTeamPage.tsx
  services/web/src/website/MainPage/MeetTheTeamSection/components/MeetTheTeam.tsx
Due: prettier --write, eslint --fix

Test optional validation for image
  services/web/src/website/AdminPanelPage/DashboardPages/pages/MeetTheTeamPage/validation/validation.tsx
Due: prettier --write, eslint --fix

Implement the feature switch in sponsors section
  services/web/src/website/HackathonPage8.0/HackathonPage.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/SponsorsSection.tsx
  services/web/src/website/HackathonPage8.0/SponsorsSection/types/constatns.ts
Due: prettier --write, eslint --fix

Updated updating
  services/py-api/src/database/model/admin/hub_member_model.py
  services/py-api/src/database/model/admin/judge_model.py
  services/py-api/src/database/model/admin/mentor_model.py
  services/py-api/src/database/model/admin/past_event_model.py
  services/py-api/src/database/model/admin/sponsor_model.py
  services/py-api/src/server/schemas/request_schemas/admin/hub_member_schemas.py
  services/py-api/src/service/admin/hub_members_service.py
  services/py-api/src/service/admin/judges_service.py
  services/py-api/src/service/admin/sponsors_service.py
Due: none

Path conditions:
  prettier --write: ((any of: *.tsx*) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: any of: *.tsx*
